# Gradle & Android
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
*.iml
.idea/
*.hprof
.DS_Store
local.properties
.kotlin/
*.salive

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
**/dist/
build/
**/build/
*.spec
.pytest_cache/
.coverage
htmlcov/
venv/
.venv/
env/

# Kotlin / Java
*.class

# Release build assets & temp
release_assets/
*.log
*.tmp
*.png
!android/app/src/main/res/**/*.png
!windows/src/opendisplay/ui/resources/**/*.png
*.zip
windows/driver/virtual_display/*.exe
windows/test_*.py
